In [2]:
import pandas as pd
import numpy as np

In [20]:
# Need to update file path to point of zip file.
# df_chunks = pd.read_csv("E:/Study/Duke Class/G2S1/Data Science/Final/arcos_all_washpost.tsv.gz"
#                  , chunksize=100000
#                  , sep='\t'
#                  , usecols = ['CALC_BASE_WT_IN_GM','BUYER_STATE','BUYER_COUNTY']
#                 )
# opioid_df = pd.DataFrame()
# for i in df_chunks:
#     opioid_df = opioid_df.append(i.loc[i["BUYER_STATE"].isin(["FL", "AL", "SC", "GA", 
#                                                               "TX", "AZ", "CA", "OK",
#                                                               "WA", "NC", "UT", "CO"
#                                                              ])])

In [21]:
#opioid_df.to_csv ("E:/Study/Duke Class/G2S1/Data Science/Final/opioid_ship_weight.csv")

In [3]:
extracted = pd.read_csv("E:/Study/Duke Class/G2S1/Data Science/Final/opioid_ship_extracted.csv")
extracted2 = pd.read_csv("E:/Study/Duke Class/G2S1/Data Science/Final/opioid_ship_weight.csv")
opioid_Reduced = pd.merge(extracted, extracted2, how = 'inner', left_index = True, right_index = True)

C:\Users\satpa\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
opioid_Reduced.head(5)

,Unnamed: 0_x,BUYER_CITY,BUYER_STATE_x,BUYER_COUNTY_x,DRUG_NAME,QUANTITY,UNIT,TRANSACTION_DATE,DOSAGE_UNIT,MME_Conversion_Factor,dos_str,Unnamed: 0_y,BUYER_STATE_y,BUYER_COUNTY_y,CALC_BASE_WT_IN_GM
0,1,PHOENIX,AZ,MARICOPA,HYDROCODONE,4.0,NaN,3112009,40.0,1.0,5.0,1,AZ,MARICOPA,0.12108
1,2,GILBERT,AZ,MARICOPA,HYDROCODONE,40.0,NaN,11252008,1200.0,1.0,5.0,2,AZ,MARICOPA,3.63240
2,3,GILBERT,AZ,MARICOPA,HYDROCODONE,20.0,NaN,6122009,600.0,1.0,7.5,3,AZ,MARICOPA,2.72430
3,4,GILBERT,AZ,MARICOPA,HYDROCODONE,10.0,NaN,10022009,300.0,1.0,5.0,4,AZ,MARICOPA,0.90810
4,5,GILBERT,AZ,MARICOPA,HYDROCODONE,20.0,NaN,3232010,600.0,1.0,5.0,5,AZ,MARICOPA,1.81620

In [5]:
opioid_df = opioid_Reduced[['BUYER_CITY','BUYER_STATE_x','BUYER_COUNTY_x','DRUG_NAME','TRANSACTION_DATE','MME_Conversion_Factor','CALC_BASE_WT_IN_GM']]
opioid_df.columns = ['BUYER_CITY','BUYER_STATE','BUYER_COUNTY','DRUG_NAME','TRANSACTION_DATE','MME_Conversion_Factor','Weight_gram']

In [6]:
opioid_df.head(5)

,BUYER_CITY,BUYER_STATE,BUYER_COUNTY,DRUG_NAME,TRANSACTION_DATE,MME_Conversion_Factor,Weight_gram
0,PHOENIX,AZ,MARICOPA,HYDROCODONE,3112009,1.0,0.12108
1,GILBERT,AZ,MARICOPA,HYDROCODONE,11252008,1.0,3.63240
2,GILBERT,AZ,MARICOPA,HYDROCODONE,6122009,1.0,2.72430
3,GILBERT,AZ,MARICOPA,HYDROCODONE,10022009,1.0,0.90810
4,GILBERT,AZ,MARICOPA,HYDROCODONE,3232010,1.0,1.81620

In [11]:
opioid_df.to_csv ("E:/Study/Duke Class/G2S1/Data Science/Final/opioid_df.csv")

In [37]:
# print(
# extracted.shape,
# extracted2.shape,
# opioid_df.shape
# )

(74136256, 11) (74136256, 4) (74136256, 7)

In [ ]:
opioid_df = pd.read_csv("E:/Study/Duke Class/G2S1/Data Science/Final/opioid_df.csv")

In [ ]:
opioid_df['Year'] = [str(x)[-4:] for x in opioid_df['TRANSACTION_DATE'].tolist()]

In [ ]:
opioid_df = opioid_df.drop(['TRANSACTION_DATE','Unnamed: 0','BUYER_CITY'], axis =1)

In [ ]:
opioid_df ['DRUG_TOTAL'] = opioid_df.MME_Conversion_Factor * opioid_df.Weight_gram

In [ ]:
opioid_df.head(5)

In [ ]:
opioid_df.to_csv ("E:/Study/Duke Class/G2S1/Data Science/Final/opioid_df_V2.csv")

In [23]:
mortality = pd.read_csv('E:/Study/Duke Class/G2S1/Data Science/Cmder/estimating-impact-of-opioids-2020-vxf/20_intermediate_files/mortality_non_aggregated.csv')
mortality = mortality.drop('Unnamed: 0', axis =1)
mortality.head(3)

     Year State         County  Deaths
0  2003.0    LA  Acadia Parish    11.0
1  2005.0    LA  Acadia Parish    23.0
2  2006.0    LA  Acadia Parish    19.0

In [84]:
Population = pd.read_csv('E:/Study/Duke Class/G2S1/Data Science/Cmder/estimating-impact-of-opioids-2020-vxf/20_intermediate_files/census_ts_nominal_county.csv', engine = "python")
Population.head(5)

,GISJOIN,YEAR,STATE,STATEFP,STATENH,COUNTY,COUNTYFP,COUNTYNH,NAME,B18AA,...,CV4AA,CV4AB,CV4AC,CV4AD,CV4AE,CV4AF,CV4AG,CV4AH,CV4AI,CV4AJ
0,G0100010,1970,Alabama,1,10,Autauga County,1,10,Autauga,17511,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,G0100030,1970,Alabama,1,10,Baldwin County,3,30,Baldwin,48650,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,G0100050,1970,Alabama,1,10,Barbour County,5,50,Barbour,12134,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,G0100070,1970,Alabama,1,10,Bibb County,7,70,Bibb,9953,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,G0100090,1970,Alabama,1,10,Blount County,9,90,Blount,26205,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
Population ['YEAR'].value_counts()

2010    3221
1990    3141
2000    3141
1970    3140
1980    3137
Name: YEAR, dtype: int64

In [85]:
Population['Total_pop'] = Population['B18AA'] + Population['B18AA'] + Population['B18AB'] + Population['B18AC'] + Population['B18AD']
Population = Population[['YEAR','STATEFP','STATE','COUNTY','COUNTYFP','Total_pop']]
StateL = ['Florida', 'Alabama', 'South Carolina', 'Georgia', 'Texas', 'Arizona', 'California', 'Oklahoma','Washington','North Carolina','Utah','Colorado']
Population = Population[Population['STATE'].isin(StateL)]
state_dic = {'AL':'Alabama',
             'FL':'Florida',
             'SC':'South Carolina',
             'GA':'Georgia',
             'TX':'Texas',
             'OK':'Oklahoma',
             'WA':'Washington',
             'NC':'North Carolina',
             'CO':'Colorado',
             'AZ':'Arizona',
             'CA':'California',
             'UT':'Utah'}
mortality.loc[mortality['State'] == 'AL', 'state_full'] = 'Alabama'
mortality.loc[mortality['State'] == 'FL', 'state_full'] = 'Florida'
mortality.loc[mortality['State'] == 'SC', 'state_full'] = 'South Carolina'
mortality.loc[mortality['State'] == 'GA', 'state_full'] = 'Georgia'
mortality.loc[mortality['State'] == 'TX', 'state_full'] = 'Texas'
mortality.loc[mortality['State'] == 'OK', 'state_full'] = 'Oklahoma'
mortality.loc[mortality['State'] == 'WA', 'state_full'] = 'Washington'
mortality.loc[mortality['State'] == 'NC', 'state_full'] = 'North Carolina'
mortality.loc[mortality['State'] == 'CO', 'state_full'] = 'Colorado'
mortality.loc[mortality['State'] == 'AZ', 'state_full'] = 'Arizona'
mortality.loc[mortality['State'] == 'CA', 'state_full'] = 'California'
mortality.loc[mortality['State'] == 'UT', 'state_full'] = 'Utah'

In [86]:
mortality['state_full'].value_counts()

Series([], Name: state_full, dtype: int64)

In [80]:
left_merge = ['Year', 'state_full', 'County']
right_merge = ['YEAR', 'STATE','COUNTY']

In [81]:
mor_pop = pd.merge(mortality,Population, how='outer', indicator = True, left_on= left_merge, right_on = right_merge)
mortality = mortality[mortality['state_full'].isin(StateL)]
#mor_pop[mor_pop['_merge'] != 'both']

In [82]:
stat

Empty DataFrame
Columns: [Year, State, County, Deaths, state_full]
Index: []

In [ ]:
opioid_state = opioid_df.groupby(['Year', 'BUYER_STATE'], as_index=False).sum()