In [1]:
import pandas as pd
import numpy as np

In [20]:
# Need to update file path to point of zip file.
# df_chunks = pd.read_csv("E:/Study/Duke Class/G2S1/Data Science/Final/arcos_all_washpost.tsv.gz"
#                  , chunksize=100000
#                  , sep='\t'
#                  , usecols = ['CALC_BASE_WT_IN_GM','BUYER_STATE','BUYER_COUNTY']
#                 )
# opioid_df = pd.DataFrame()
# for i in df_chunks:
#     opioid_df = opioid_df.append(i.loc[i["BUYER_STATE"].isin(["FL", "AL", "SC", "GA", 
#                                                               "TX", "AZ", "CA", "OK",
#                                                               "WA", "NC", "UT", "CO"
#                                                              ])])

In [21]:
#opioid_df.to_csv ("E:/Study/Duke Class/G2S1/Data Science/Final/opioid_ship_weight.csv")

In [29]:
extracted = pd.read_csv("E:/Study/Duke Class/G2S1/Data Science/Final/opioid_ship_extracted.csv")
extracted2 = pd.read_csv("E:/Study/Duke Class/G2S1/Data Science/Final/opioid_ship_weight.csv")
opioid_Reduced = pd.merge(extracted, extracted2, how = 'inner', left_index = True, right_index = True)

C:\Users\satpa\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [33]:
opioid_Reduced.head(5)

,Unnamed: 0_x,BUYER_CITY,BUYER_STATE_x,BUYER_COUNTY_x,DRUG_NAME,QUANTITY,UNIT,TRANSACTION_DATE,DOSAGE_UNIT,MME_Conversion_Factor,dos_str,Unnamed: 0_y,BUYER_STATE_y,BUYER_COUNTY_y,CALC_BASE_WT_IN_GM
0,1,PHOENIX,AZ,MARICOPA,HYDROCODONE,4.0,NaN,3112009,40.0,1.0,5.0,1,AZ,MARICOPA,0.12108
1,2,GILBERT,AZ,MARICOPA,HYDROCODONE,40.0,NaN,11252008,1200.0,1.0,5.0,2,AZ,MARICOPA,3.63240
2,3,GILBERT,AZ,MARICOPA,HYDROCODONE,20.0,NaN,6122009,600.0,1.0,7.5,3,AZ,MARICOPA,2.72430
3,4,GILBERT,AZ,MARICOPA,HYDROCODONE,10.0,NaN,10022009,300.0,1.0,5.0,4,AZ,MARICOPA,0.90810
4,5,GILBERT,AZ,MARICOPA,HYDROCODONE,20.0,NaN,3232010,600.0,1.0,5.0,5,AZ,MARICOPA,1.81620

In [34]:
opioid_df = opioid_Reduced[['BUYER_CITY','BUYER_STATE_x','BUYER_COUNTY_x','DRUG_NAME','TRANSACTION_DATE','MME_Conversion_Factor','CALC_BASE_WT_IN_GM']]
opioid_df.columns = ['BUYER_CITY','BUYER_STATE','BUYER_COUNTY','DRUG_NAME','TRANSACTION_DATE','MME_Conversion_Factor','Weight_gram']

In [35]:
opioid_df.head(5)

,BUYER_CITY,BUYER_STATE,BUYER_COUNTY,DRUG_NAME,TRANSACTION_DATE,MME_Conversion_Factor,Weight_gram
0,PHOENIX,AZ,MARICOPA,HYDROCODONE,3112009,1.0,0.12108
1,GILBERT,AZ,MARICOPA,HYDROCODONE,11252008,1.0,3.63240
2,GILBERT,AZ,MARICOPA,HYDROCODONE,6122009,1.0,2.72430
3,GILBERT,AZ,MARICOPA,HYDROCODONE,10022009,1.0,0.90810
4,GILBERT,AZ,MARICOPA,HYDROCODONE,3232010,1.0,1.81620

In [36]:
opioid_df.to_csv ("E:/Study/Duke Class/G2S1/Data Science/Final/opioid_df.csv")

In [37]:
print(
extracted.shape,
extracted2.shape,
opioid_df.shape
)

(74136256, 11) (74136256, 4) (74136256, 7)

In [2]:
opioid_df = pd.read_csv("E:/Study/Duke Class/G2S1/Data Science/Final/opioid_df.csv")

In [7]:
opioid_df['Year'] = [str(x)[-4:] for x in opioid_df['TRANSACTION_DATE'].tolist()]

In [9]:
opioid_df = opioid_df.drop(['TRANSACTION_DATE','Unnamed: 0','BUYER_CITY'], axis =1)

In [ ]:
opioid_df ['DRUG_TOTAL'] = opioid_df.MME_Conversion_Factor * opioid_df.Weight_gram

In [10]:
opioid_df.head(5)

,BUYER_CITY,BUYER_STATE,BUYER_COUNTY,DRUG_NAME,MME_Conversion_Factor,Weight_gram,Year
0,PHOENIX,AZ,MARICOPA,HYDROCODONE,1.0,0.12108,2009
1,GILBERT,AZ,MARICOPA,HYDROCODONE,1.0,3.63240,2008
2,GILBERT,AZ,MARICOPA,HYDROCODONE,1.0,2.72430,2009
3,GILBERT,AZ,MARICOPA,HYDROCODONE,1.0,0.90810,2009
4,GILBERT,AZ,MARICOPA,HYDROCODONE,1.0,1.81620,2010

### Notes
1. We need a different set of reference states for opioid shipment dataset.

In [397]:
mortality = pd.read_csv('../20_intermediate_files/mortality_non_aggregated.csv')
mortality = mortality.drop('Unnamed: 0', axis =1)

In [398]:
mortality.shape

(7920, 4)

In [399]:
mortality.loc[mortality['State'] == 'AL', 'STATE'] = 'Alabama'
mortality.loc[mortality['State'] == 'FL', 'STATE'] = 'Florida'
mortality.loc[mortality['State'] == 'SC', 'STATE'] = 'South Carolina'
mortality.loc[mortality['State'] == 'GA', 'STATE'] = 'Georgia'
mortality.loc[mortality['State'] == 'TX', 'STATE'] = 'Texas'
mortality.loc[mortality['State'] == 'OK', 'STATE'] = 'Oklahoma'
mortality.loc[mortality['State'] == 'WA', 'STATE'] = 'Washington'
mortality.loc[mortality['State'] == 'NC', 'STATE'] = 'North Carolina'
mortality.loc[mortality['State'] == 'CO', 'STATE'] = 'Colorado'
mortality.loc[mortality['State'] == 'AZ', 'STATE'] = 'Arizona'
mortality.loc[mortality['State'] == 'CA', 'STATE'] = 'California'
mortality.loc[mortality['State'] == 'UT', 'STATE'] = 'Utah'

StateL = ['Florida', 'Alabama', 'South Carolina', 'Georgia', 'Texas', 'Arizona', 
          'California', 'Oklahoma','Washington','North Carolina','Utah','Colorado']

In [400]:
mortality = mortality[mortality['STATE'].isin(StateL)]
mortality.columns = ['YEAR', 'State', 'COUNTY', 'DEATHS', 'STATE']

In [401]:
mortality.head()

      YEAR State        COUNTY  DEATHS     STATE
20  2003.0    CO  Adams County    42.0  Colorado
21  2004.0    CO  Adams County    46.0  Colorado
22  2005.0    CO  Adams County    63.0  Colorado
23  2006.0    CO  Adams County    62.0  Colorado
24  2007.0    CO  Adams County    70.0  Colorado

In [402]:
mortality.shape

(3107, 5)

In [403]:
Population = pd.read_csv('../00_source/County_Demographics/census_ts_nominal_county.csv', engine = "python")
Population.head()

,GISJOIN,YEAR,STATE,STATEFP,STATENH,COUNTY,COUNTYFP,COUNTYNH,NAME,B18AA,...,CV4AA,CV4AB,CV4AC,CV4AD,CV4AE,CV4AF,CV4AG,CV4AH,CV4AI,CV4AJ
0,G0100010,1970,Alabama,1,10,Autauga County,1,10,Autauga,17511,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,G0100030,1970,Alabama,1,10,Baldwin County,3,30,Baldwin,48650,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,G0100050,1970,Alabama,1,10,Barbour County,5,50,Barbour,12134,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,G0100070,1970,Alabama,1,10,Bibb County,7,70,Bibb,9953,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,G0100090,1970,Alabama,1,10,Blount County,9,90,Blount,26205,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [404]:
Population ['YEAR'].value_counts()

2010    3221
1990    3141
2000    3141
1970    3140
1980    3137
Name: YEAR, dtype: int64

In [405]:
Population['Total_pop'] = Population['B18AA'] + Population['B18AA'] + Population['B18AB'] + Population['B18AC'] + Population['B18AD']
Population = Population[['YEAR','STATEFP','STATE','COUNTY','COUNTYFP','Total_pop']]
Population = Population[Population['STATE'].isin(StateL)]

In [406]:
Population.head()

   YEAR  STATEFP    STATE          COUNTY  COUNTYFP  Total_pop
0  1970        1  Alabama  Autauga County         1      41971
1  1970        1  Alabama  Baldwin County         3     108032
2  1970        1  Alabama  Barbour County         5      34677
3  1970        1  Alabama     Bibb County         7      23765
4  1970        1  Alabama   Blount County         9      53058

In [407]:
temp1 = Population.groupby(['STATE', 'COUNTY'], as_index=False).sum()
temp1 = temp1[['STATE', 'COUNTY']]
YEAR = [i for i in range(1970, 2016)]
temp1.head()

     STATE          COUNTY
0  Alabama  Autauga County
1  Alabama  Baldwin County
2  Alabama  Barbour County
3  Alabama     Bibb County
4  Alabama   Blount County

In [396]:
YEAR

[1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015]

In [417]:
Population.columns

Index(['YEAR', 'STATEFP', 'STATE', 'COUNTY', 'COUNTYFP', 'Total_pop'], dtype='object')

In [418]:
mortality.columns

Index(['YEAR', 'State', 'COUNTY', 'DEATHS', 'STATE'], dtype='object')

In [419]:
merge_cols = ['YEAR', 'STATE','COUNTY']
mor_pop = pd.merge(mortality,Population, how='outer', indicator = True, on=merge_cols)

##### Sort dataset by Year and County.

In [423]:
mor_pop = mor_pop.sort_values(['YEAR', 'COUNTY'])

In [424]:
mor_pop[(mor_pop['STATE'] == 'California') & (mor_pop['COUNTY'] == 'Solano County') ]

,YEAR,State,COUNTY,DEATHS,STATE,STATEFP,COUNTYFP,Total_pop,_merge,Total_pop_interpolated
3235,1970.0,NaN,Solano County,NaN,California,6.0,95.0,314805.0,right_only,314805.0
4208,1980.0,NaN,Solano County,NaN,California,6.0,95.0,400123.0,right_only,400123.0
5182,1990.0,NaN,Solano County,NaN,California,6.0,95.0,567713.0,right_only,567713.0
6156,2000.0,NaN,Solano County,NaN,California,6.0,95.0,591700.0,right_only,591700.0
2603,2003.0,CA,Solano County,29.0,California,NaN,NaN,NaN,left_only,592737.0
2604,2004.0,CA,Solano County,18.0,California,NaN,NaN,NaN,left_only,592737.0
2605,2005.0,CA,Solano County,30.0,California,NaN,NaN,NaN,left_only,592737.0
2606,2006.0,CA,Solano County,28.0,California,NaN,NaN,NaN,left_only,592737.0
2607,2007.0,CA,Solano County,27.0,California,NaN,NaN,NaN,left_only,592737.0
2608,2008.0,CA,Solano County,32.0,California,NaN,NaN,NaN,left_only,592737.0
2609,2009.0,CA,Solano County,31.0,California,NaN,NaN,NaN,left_only,592737.0
2610,2010.0,CA,Solano County,45.0,California,6.0,95.0,592737.0,both,592737.0
2611,2011.0,CA,Solano County,57.0,California,NaN,NaN,NaN,left_only,546415.0
2612,2012.0,CA,Solano County,24.0,California,NaN,NaN,NaN,left_only,500093.0
2613,2013.0,CA,Solano County,45.0,California,NaN,NaN,NaN,left_only,453771.0
2614,2014.0,CA,Solano County,66.0,California,NaN,NaN,NaN,left_only,407449.0
2615,2015.0,CA,Solano County,49.0,California,NaN,NaN,NaN,left_only,361127.0

In [425]:
mor_pop['Total_pop_interpolated'] = mor_pop.groupby(['COUNTY'
                    ])['Total_pop'].apply(lambda x : x.interpolate(method = "linear", limit_direction="both"))

In [426]:
mor_pop[(mor_pop['STATE'] == 'California') & (mor_pop['COUNTY'] == 'Solano County') ]

,YEAR,State,COUNTY,DEATHS,STATE,STATEFP,COUNTYFP,Total_pop,_merge,Total_pop_interpolated
3235,1970.0,NaN,Solano County,NaN,California,6.0,95.0,314805.0,right_only,314805.000
4208,1980.0,NaN,Solano County,NaN,California,6.0,95.0,400123.0,right_only,400123.000
5182,1990.0,NaN,Solano County,NaN,California,6.0,95.0,567713.0,right_only,567713.000
6156,2000.0,NaN,Solano County,NaN,California,6.0,95.0,591700.0,right_only,591700.000
2603,2003.0,CA,Solano County,29.0,California,NaN,NaN,NaN,left_only,591829.625
2604,2004.0,CA,Solano County,18.0,California,NaN,NaN,NaN,left_only,591959.250
2605,2005.0,CA,Solano County,30.0,California,NaN,NaN,NaN,left_only,592088.875
2606,2006.0,CA,Solano County,28.0,California,NaN,NaN,NaN,left_only,592218.500
2607,2007.0,CA,Solano County,27.0,California,NaN,NaN,NaN,left_only,592348.125
2608,2008.0,CA,Solano County,32.0,California,NaN,NaN,NaN,left_only,592477.750
2609,2009.0,CA,Solano County,31.0,California,NaN,NaN,NaN,left_only,592607.375
2610,2010.0,CA,Solano County,45.0,California,6.0,95.0,592737.0,both,592737.000
2611,2011.0,CA,Solano County,57.0,California,NaN,NaN,NaN,left_only,592737.000
2612,2012.0,CA,Solano County,24.0,California,NaN,NaN,NaN,left_only,592737.000
2613,2013.0,CA,Solano County,45.0,California,NaN,NaN,NaN,left_only,592737.000
2614,2014.0,CA,Solano County,66.0,California,NaN,NaN,NaN,left_only,592737.000
2615,2015.0,CA,Solano County,49.0,California,NaN,NaN,NaN,left_only,592737.000

In [427]:
mor_pop = mor_pop[(mor_pop['_merge'] == 'left_only') | (mor_pop['_merge'] == 'both')]

In [428]:
mor_pop.shape

(3107, 10)

In [429]:
mor_pop[(mor_pop['STATE'] == 'California') & (mor_pop['COUNTY'] == 'Solano County')]

,YEAR,State,COUNTY,DEATHS,STATE,STATEFP,COUNTYFP,Total_pop,_merge,Total_pop_interpolated
2603,2003.0,CA,Solano County,29.0,California,NaN,NaN,NaN,left_only,591829.625
2604,2004.0,CA,Solano County,18.0,California,NaN,NaN,NaN,left_only,591959.250
2605,2005.0,CA,Solano County,30.0,California,NaN,NaN,NaN,left_only,592088.875
2606,2006.0,CA,Solano County,28.0,California,NaN,NaN,NaN,left_only,592218.500
2607,2007.0,CA,Solano County,27.0,California,NaN,NaN,NaN,left_only,592348.125
2608,2008.0,CA,Solano County,32.0,California,NaN,NaN,NaN,left_only,592477.750
2609,2009.0,CA,Solano County,31.0,California,NaN,NaN,NaN,left_only,592607.375
2610,2010.0,CA,Solano County,45.0,California,6.0,95.0,592737.0,both,592737.000
2611,2011.0,CA,Solano County,57.0,California,NaN,NaN,NaN,left_only,592737.000
2612,2012.0,CA,Solano County,24.0,California,NaN,NaN,NaN,left_only,592737.000
2613,2013.0,CA,Solano County,45.0,California,NaN,NaN,NaN,left_only,592737.000
2614,2014.0,CA,Solano County,66.0,California,NaN,NaN,NaN,left_only,592737.000
2615,2015.0,CA,Solano County,49.0,California,NaN,NaN,NaN,left_only,592737.000

In [416]:
Population[(Population['STATE'] == 'California') & (Population['COUNTY'] == 'Solano County')]

       YEAR  STATEFP       STATE         COUNTY  COUNTYFP  Total_pop
232    1970        6  California  Solano County        95     314805
3366   1980        6  California  Solano County        95     400123
6506   1990        6  California  Solano County        95     567713
9649   2000        6  California  Solano County        95     591700
12792  2010        6  California  Solano County        95     592737

In [ ]:
df_merged['white_ratio_interpolated'] = df_merged.groupby(['COUNTY'])['white_only_ratio'].apply(lambda x : x.interpolate(method = "linear"))

In [83]:
mor_pop.head()

,Year,State,County,Deaths,state_full,YEAR,STATEFP,STATE,COUNTY,COUNTYFP,Total_pop,_merge
0,2003.0,CO,Adams County,42.0,Colorado,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,2004.0,CO,Adams County,46.0,Colorado,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,2005.0,CO,Adams County,63.0,Colorado,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,2006.0,CO,Adams County,62.0,Colorado,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,2007.0,CO,Adams County,70.0,Colorado,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [84]:
opioid_state = opioid_df.groupby(['Year', 'BUYER_STATE'], as_index=False).sum()a

NameError: name 'opioid_df' is not defined

In [89]:
mortality_county = list(mortality.County.unique())
pop_county = list(Population.COUNTY.unique())

['Adams County',
 'Aiken County',
 'Alachua County',
 'Alamance County',
 'Alameda County',
 'Alexander County',
 'Amador County',
 'Anderson County',
 'Aransas County',
 'Arapahoe County',
 'Baldwin County',
 'Barrow County',
 'Bartow County',
 'Bastrop County',
 'Bay County',
 'Beaufort County',
 'Bell County',
 'Benton County',
 'Berkeley County',
 'Bexar County',
 'Bibb County',
 'Blount County',
 'Boulder County',
 'Brazoria County',
 'Brazos County',
 'Brevard County',
 'Broward County',
 'Brunswick County',
 'Bryan County',
 'Buncombe County',
 'Burke County',
 'Butte County',
 'Cabarrus County',
 'Cache County',
 'Calaveras County',
 'Caldwell County',
 'Calhoun County',
 'Camden County',
 'Cameron County',
 'Canadian County',
 'Carroll County',
 'Carter County',
 'Carteret County',
 'Catawba County',
 'Catoosa County',
 'Charleston County',
 'Charlotte County',
 'Chatham County',
 'Chelan County',
 'Cherokee County',
 'Chilton County',
 'Citrus County',
 'Clallam County',
 'Clark County',
 'Clarke County',
 'Clay County',
 'Clayton County',
 'Cleveland County',
 'Cobb County',
 'Cochise County',
 'Coconino County',
 'Collier County',
 'Collin County',
 'Columbia County',
 'Columbus County',
 'Comal County',
 'Comanche County',
 'Contra Costa County',
 'Cooke County',
 'Coweta County',
 'Cowlitz County',
 'Craven County',
 'Creek County',
 'Cullman County',
 'Cumberland County',
 'Dallas County',
 'Darlington County',
 'Davidson County',
 'Davis County',
 'DeKalb County',
 'Delaware County',
 'Denton County',
 'Denver County',
 'Dorchester County',
 'Dougherty County',
 'Douglas County',
 'Durham County',
 'Duval County',
 'Ector County',
 'Edgecombe County',
 'El Dorado County',
 'El Paso County',
 'Ellis County',
 'Escambia County',
 'Etowah County',
 'Fannin County',
 'Fayette County',
 'Flagler County',
 'Florence County',
 'Floyd County',
 'Forsyth County',
 'Fort Bend County',
 'Franklin County',
 'Fresno County',
 'Fulton County',
 'Galveston County',
 'Garfield County',
 'Gaston County',
 'Georgetown County',
 'Gila County',
 'Glynn County',
 'Gordon County',
 'Grady County',
 'Grant County',
 'Grays Harbor County',
 'Grayson County',
 'Greenville County',
 'Greenwood County',
 'Gregg County',
 'Guadalupe County',
 'Guilford County',
 'Gwinnett County',
 'Halifax County',
 'Hall County',
 'Haralson County',
 'Hardin County',
 'Harnett County',
 'Harris County',
 'Hays County',
 'Haywood County',
 'Henderson County',
 'Henry County',
 'Hernando County',
 'Hidalgo County',
 'Highlands County',
 'Hillsborough County',
 'Hood County',
 'Hopkins County',
 'Horry County',
 'Houston County',
 'Humboldt County',
 'Hunt County',
 'Imperial County',
 'Indian River County',
 'Iredell County',
 'Iron County',
 'Island County',
 'Jackson County',
 'Jefferson County',
 'Johnson County',
 'Johnston County',
 'Kaufman County',
 'Kern County',
 'Kerr County',
 'King County',
 'Kings County',
 'Kitsap County',
 'Lake County',
 'Lancaster County',
 'Larimer County',
 'Las Animas County',
 'Lassen County',
 'Lauderdale County',
 'Laurens County',
 'Lawrence County',
 'Le Flore County',
 'Lee County',
 'Lenoir County',
 'Leon County',
 'Levy County',
 'Lewis County',
 'Lexington County',
 'Liberty County',
 'Limestone County',
 'Lincoln County',
 'Los Angeles County',
 'Lubbock County',
 'Macon County',
 'Madera County',
 'Madison County',
 'Manatee County',
 'Maricopa County',
 'Marin County',
 'Marion County',
 'Marshall County',
 'Martin County',
 'Mason County',
 'Mayes County',
 'McClain County',
 'McCurtain County',
 'McDowell County',
 'McLennan County',
 'Mecklenburg County',
 'Mendocino County',
 'Merced County',
 'Mesa County',
 'Miami-Dade County',
 'Midland County',
 'Mobile County',
 'Mohave County',
 'Monroe County',
 'Monterey County',
 'Montgomery County',
 'Moore County',
 'Morgan County',
 'Murray County',
 'Muscogee County',
 'Muskogee County',
 'Nacogdoches County',
 'Napa County',
 'Nash County',
 'Nassau County',
 'Navajo County',
 'Nevada County',
 'New Hanover County',
 'Newton County',
 'Nueces County',
 'Oconee County',
 'Okaloosa County',
 'Okeechobee County',
 'Oklahoma County',
 'Okmulgee County',
 'Onslow County',
 'Orange County',
 'Osceola County',
 'Palm Beach County',
 'Parker County',
 'Pasco County',
 'Paulding County',
 'Payne County',
 'Pender County',
 'Pickens County',
 'Pierce County',
 'Pima County',
 'Pinal County',
 'Pinellas County',
 'Pitt County',
 'Pittsburg County',
 'Placer County',
 'Plumas County',
 'Polk County',
 'Pontotoc County',
 'Pottawatomie County',
 'Potter County',
 'Pueblo County',
 'Putnam County',
 'Randall County',
 'Randolph County',
 'Richland County',
 'Richmond County',
 'Riverside County',
 'Robeson County',
 'Rockdale County',
 'Rockingham County',
 'Rogers County',
 'Rowan County',
 'Rutherford County',
 'Sacramento County',
 'Salt Lake County',
 'Sampson County',
 'San Bernardino County',
 'San Diego County',
 'San Francisco County',
 'San Joaquin County',
 'San Luis Obispo County',
 'San Mateo County',
 'San Patricio County',
 'Santa Barbara County',
 'Santa Clara County',
 'Santa Cruz County',
 'Santa Rosa County',
 'Sarasota County',
 'Seminole County',
 'Sequoyah County',
 'Shasta County',
 'Shelby County',
 'Siskiyou County',
 'Skagit County',
 'Smith County',
 'Snohomish County',
 'Solano County',
 'Sonoma County',
 'Spalding County',
 'Spartanburg County',
 'Spokane County',
 'St. Clair County',
 'St. Johns County',
 'St. Lucie County',
 'Stanislaus County',
 'Stanly County',
 'Stephens County',
 'Stevens County',
 'Stokes County',
 'Sumter County',
 'Surry County',
 'Sutter County',
 'Talladega County',
 'Tarrant County',
 'Taylor County',
 'Tehama County',
 'Thurston County',
 'Tom Green County',
 'Tooele County',
 'Travis County',
 'Troup County',
 'Tulare County',
 'Tulsa County',
 'Tuolumne County',
 'Tuscaloosa County',
 'Union County',
 'Utah County',
 'Van Zandt County',
 'Vance County',
 'Ventura County',
 'Victoria County',
 'Volusia County',
 'Wagoner County',
 'Wake County',
 'Walker County',
 'Walla Walla County',
 'Walton County',
 'Ware County',
 'Washington County',
 'Wayne County',
 'Webb County',
 'Weber County',
 'Weld County',
 'Whatcom County',
 'Whitfield County',
 'Wichita County',
 'Wilkes County',
 'Williamson County',
 'Yadkin County',
 'Yakima County',
 'Yavapai County',
 'Yolo County',
 'York County',
 'Yuma County']